*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


.sticky {
    position: fixed;  
    align-items: center;
    justify-content: space-between;
}
  


body{
    background: #080808;
    color: #fff;
}

#info{
    color: #836EAA;
    text-align: center;
}

#vidname{
    color: #4E2A84;
    text-align: center;
    margin-top: 5px;
}

#video{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header{
    width: 100%;
    height: 80vh;
    
    border-radius: 25px;
    background-size: cover;
    background-image: url(images/background4.png);
    background-position: center;
    
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#logo{
    width: 120px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #4E2A84;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 50px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #4E2A84;
}


/* Bio Section*/
#MS{
    width: 100%;
    border-radius: 15px;
}

#bio{
    padding: 10px 0px;
    color: grey;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.biocol1{
    flex-basis: 45%;
}

.biocol2{
    flex-basis: 50%;
}

#sub-title{
    font-size: 50px;
    font-weight: 600;
    color: white;
}

.col-titles{
    display: flex;
    margin: 20px 0px 40px;
}

.col-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.col-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #4E2A84;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.col-links.active-link::after{
    width: 50%;

}

.col-contents ul li{
    list-style: none;
    margin: 10px 0px;
}

.col-contents ul li span{
    color: #836EAA;
    font-size: 14px;
}

.col-contents{
    display: none;
}

.col-contents.active-tab{
    display: block;
}



/* Project Section*/
#projects{
    padding: 10px 0px;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 20px;
}

.project-list div{
    background: #262626;
    padding: 20px;
    font-size: 13px;
    font-weight: 300;
    border-radius:  10px;
    transition: background 0.5s, transform 0.5s;
}

.project-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.project-list div a{
    text-align: center;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
}

.project-list div:hover{
    background: #836EAA;
    transform: translate(-10px);
}


/* Contact Section*/
.contact-left{
    flex-basis: 38%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 10px;
}

.contact-left p i{
    color: #4E2A84;
    margin-right: 5px;
    font-size: 25px;
}

.social-icons{
    margin-top: 10px;
}

.social-icons a{
    text-decoration: none;
    font-size: 50px;
    margin-right: 5px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #4E2A84;
    transform: translateY(-5px);

}

.btn{
    display: inline-block;
    margin: 10px auto;
    width: fit-content;
    border: 1px solid #4E2A84;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    background: #4E2A84;
}

#sub{
    position: relative;
    top: -25px;
}

.contact-right form{
    width: 100%;

}

form input, form textarea{
    width: 100%;
    border: 0px;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 10px 0px;
    color: white;
    font-size: 10px;
    border-radius: 6px;
}

form .btn{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;

}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0px;
    background: #262626;
    font-weight: 300;
    margin-top: 10;
}


.copyright i{
    color:#4E2A84;

}

nav .fa-solid{
    display: none;
}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    top: -100px;
}


@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/background.png);
    }

    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1{
        font-size: 30px;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #4E2A84;
        position: fixed;
        top: 0px;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title{
        font-size: 28px;
    }

    #bio{
        padding: 50px 0px;
    }
}
